In [54]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

llamar al archivo

In [55]:
df_sp500 = pd.read_csv(r'./database/SP500_data_.csv', encoding = 'ISO-8859-1', delimiter = ',')

estudiar los datos

In [56]:
df_sp500.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
1  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
2  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0
3  1928-01-06  17.660000  17.660000  17.660000  17.660000  17.660000       0
4  1928-01-09  17.500000  17.500000  17.500000  17.500000  17.500000       0

In [57]:
df_sp500.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2656,2020-01-28,3255.350098,3285.780029,3253.219971,3276.239990,3276.239990,3526720000
2657,2020-01-29,3289.459961,3293.469971,3271.889893,3273.399902,3273.399902,3584500000
2658,2020-01-30,3256.449951,3285.909912,3242.800049,3283.659912,3283.659912,3787250000
2659,2020-01-31,3282.330078,3282.330078,3214.679932,3225.520020,3225.520020,4527830000
2660,2020-04-01,2498.080078,2522.750000,2447.489990,2470.500000,2470.500000,5947900000

In [58]:
df_sp500.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

Definir grafico

In [59]:
data = [go.Scatter(
  x = df_sp500['Date'],
  y = df_sp500['Close'],
  #mode = 'lines'
  mode = "lines+markers",
  name = 'Cierre'
)]

Definir el layout

In [60]:
layout = go.Layout(
  title = "SP500 Line Plot",
  xaxis = {"title": "Decadas"},
  yaxis = {"title":"SP500 valor"}
)

Cargar el Grafico

In [61]:
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = "line_plot.html")

'line_plot.html'

In [62]:
pyo.plot(fig, filename="line_plot.html")

'plot_iris.html'