In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [17]:
df_vts = pd.read_csv('./database/ventas.csv', encoding = 'ISO-8859-1', delimiter = ';')

In [18]:
df_vts.head()

,Fecha,Total Venta Classic Cars,Total Venta Motorcycles,Total Venta Planes,Total Venta Ships,Total Venta Trains,Total Venta Trucks and Buses,Total Venta Vintage Cars
0,ene-21,198555,66199,103496.0,69068.0,NaN,101661.0,76212
1,feb-21,220266,107584,50660.0,46688.0,22295.0,7973.0,75539
2,mar-21,216497,158174,168445.0,2353.0,5234.0,71864.0,80267
3,abr-21,267449,52374,20541.0,NaN,NaN,51155.0,60920
4,may-21,285155,51863,NaN,NaN,25326.0,64369.0,67898

In [19]:
df_vts.tail()

,Fecha,Total Venta Classic Cars,Total Venta Motorcycles,Total Venta Planes,Total Venta Ships,Total Venta Trains,Total Venta Trucks and Buses,Total Venta Vintage Cars
7,ago-21,123039,88478,27227.0,27390.0,11402.0,41791.0,46291
8,sep-21,174256,6535,13368.0,25508.0,8771.0,46697.0,122563
9,oct-21,225774,72539,90772.0,37893.0,NaN,45272.0,96830
10,nov-21,127453,52915,37456.0,20452.0,6041.0,43588.0,54884
11,dic-21,173789,16646,58325.0,24352.0,3113.0,3983.0,134757

In [20]:
df_vts.dtypes

Fecha                            object
Total Venta Classic Cars          int64
Total Venta Motorcycles           int64
Total Venta Planes              float64
Total Venta Ships               float64
Total Venta Trains              float64
Total Venta Trucks and Buses    float64
Total Venta Vintage Cars          int64
dtype: object

In [21]:
trazo_1 = go.Scatter(
  x = df_vts['Fecha'],
  y = df_vts['Total Venta Classic Cars'],
  mode = 'lines',
  name = 'Classic Cars'
)

In [22]:
trazo_2 = go.Scatter(
  x = df_vts['Fecha'],
  y = df_vts['Total Venta Motorcycles'],
  mode = 'lines',
  name = 'Motorcycles'
)

In [23]:
data = [trazo_1, trazo_2]

In [24]:
layout = go.Layout(
  title = "Evoluaci√≥n de Ventas", 
  xaxis = {"title": "Fecha"},
  yaxis = {"title":"Total Ventas"}
)

In [25]:
fig = go.Figure(data = data, layout = layout)

In [26]:
pyo.plot(fig, filename = "ventas.html")

'ventas.html'