In [55]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [56]:
#cargar datos
df_oly = pd.read_excel(r'./database/Medallas_olímpicas.xlsx')

In [57]:
#analisis de la data
df_oly.head()

                     País   Oro  Plata  Bronce  Total
0    Estados Unidos (USA)  1022    794     704   2520
1   Unión Soviética (URS)   395    319     296   1010
2       Reino Unido (GBR)   263    295     289    847
3             China (CHN)   227    163     153    543
4          Alemania (GER)   219    246     269    734

In [58]:
#ordenar de manera descendente por columna total
df_oly = df_oly.sort_values(by = "Total", ascending = False)

In [59]:
#definición del objeto tipo lista data con una unica traza basada en el total de medallas 
data_1 = go.Bar(
  x = df_oly['País'], 
  y = df_oly['Oro'], 
  name = "Oro", 
  marker = {"color":"#D4AF37"}
)
data_2 = go.Bar(
  x = df_oly['País'], 
  y = df_oly['Plata'], 
  name = "Plata", 
  marker = {"color":"#C0C0C0"}
)
data_3 = go.Bar(
  x = df_oly['País'], 
  y = df_oly['Bronce'], 
  name = "Bronce", 
  marker = {"color":"#CD7F32"}
)
data = [data_1, data_2, data_3]

In [60]:
#definición del objeto layout diseño del grafico como titulo, nombre, ejes, etc.  
layout = go.Layout(
  title = "Medallas Olimpicas por pais", 
  xaxis = {"title": "Pais"},
  yaxis = {"title": "Total Medallas"}, 
  barmode = "stack"
)

In [61]:
#creación del objeto figura de plotly a partir de los objetos data y layout creados previamente
fig = go.Figure(data = data, layout = layout)

In [62]:
#generación del plot a partir de la figura definida en un archivo html 
pyo.plot(fig, filename = "bar_plot_1.html")

'bar_plot_1.html'