In [16]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [17]:
# cargar los datos
df_pib = pd.read_excel(r'./database/info_pais.xlsx')

In [18]:
#revisión datos 
df_pib.head()

,País,Continente,Poblacion,Renta per capita,Esperanza de vida
0,United States,North America,325084756,59939,78.9
1,China,Asia,1421021791,8612,76.7
2,Japan,Asia,127502725,38214,84.5
3,Germany,Europe,82658409,44680,81.2
4,India,Asia,1338676785,1980,69.4

In [19]:
#definimos un diccionario para sociar cada continente - clave y un color como valor 
color = {
  "North America":"red", 
  "Asia":"yellow", 
  "Europe":"green", 
  "South America":"blue",
  "Oceania":"orange", 
  "Africa":"violet"
}

In [20]:
#creamos una nueva columna a partir del diccionario
df_pib["Color"] = df_pib["Continente"].map(color)

In [21]:
df_pib.head()

,País,Continente,Poblacion,Renta per capita,Esperanza de vida,Color
0,United States,North America,325084756,59939,78.9,red
1,China,Asia,1421021791,8612,76.7,yellow
2,Japan,Asia,127502725,38214,84.5,yellow
3,Germany,Europe,82658409,44680,81.2,green
4,India,Asia,1338676785,1980,69.4,yellow

In [22]:
#crear el objeto data 
data = [go.Scatter(
  x = df_pib["Renta per capita"],
  y = df_pib["Esperanza de vida"], 
  mode = "markers", 
  text = df_pib["País"],
  marker = dict(
    size = (df_pib["Poblacion"])/5000000,
    color = df_pib["Color"]
  )
)]

In [23]:
#creamos el layout 
layout = go.Layout(
  title = "Renta per Capita vs. Esperanza de Vida", 
  xaxis = {"title": "Renta per Capita"},
  yaxis = {"title": "Esperanza de vida"}
)

In [24]:
#cargamos a la figura la data y el layout
fig = go.Figure(data=data, layout=layout)

In [25]:
#creamos el archivo html con el grafico 
pyo.plot(fig, filename = "index.html")

'index.html'