In [107]:
import dash 
import dash_core_components as dcc 
import dash_html_components as html 
import plotly.graph_objs as go 
import pandas as pd

In [108]:
#creación del objeto dash
app = dash.Dash()

In [109]:
#carga de datos 
df_iris = pd.read_csv(r'./database/iris_dataset.csv', encoding='ISO-8859-1', delimiter =',')

In [110]:
#analisis de datos
df_iris.head(3)

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa

In [111]:
df_iris.sample(3)

,longitud_sépalo,anchura_sépalo,longitud_pétalo,anchura_pétalo,clase
145,6.7,3.0,5.2,2.3,Iris-virginica
97,6.2,2.9,4.3,1.3,Iris-versicolor
50,7.0,3.2,4.7,1.4,Iris-versicolor

In [112]:
df_iris.shape

(150, 5)

In [113]:
df_iris.size

750

In [114]:
df_iris.columns = ['log_sep', 'ach_sep', 'log_pet', 'ach_pet', 'clase']

In [115]:
df_iris.head(3)

   log_sep  ach_sep  log_pet  ach_pet        clase
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa

In [116]:
df_iris.dtypes

log_sep    float64
ach_sep    float64
log_pet    float64
ach_pet    float64
clase       object
dtype: object

In [117]:
#creación grafico
data_1 = [go.Scatter(
  x = df_iris['log_sep'],
  y = df_iris['ach_sep'],
  mode = "markers",
  marker = {
    "size":12,
    "symbol":"circle",
    "line":{
      "width":3
    }
  }
)]

data_2 = [go.Scatter(
  x = df_iris['log_pet'],
  y = df_iris['ach_pet'],
  mode = "markers",
  marker = {
    "size":10,
    "symbol":"square",
    "line":{
      "width":4
    }
  }
)]

In [118]:
#creación del layout 
layout_1 = go.Layout(
  title = "Iris Scatter plot Sepalo",
  xaxis = {'title':'Longitud Sepalo'},
  yaxis = {'title':'Anchura Sepalo'}
)
layout_2 = go.Layout(
  title = "Iris Scatter plot Petalo",
  xaxis = {'title':'Longitud Pepalo'},
  yaxis = {'title':'Anchura Pepalo'}
)

In [119]:
#creación del dashboard 
app.layout = html.Div([
  dcc.Graph(
    id = 'scatterplot',
    figure = {
      'data': data_1,
      'layout': layout_1
    }
  ),
  dcc.Graph(
    id = 'scatterplot',
    figure = {
      'data' : data_2,
      'layout' : layout_2
    }
  )
])

In [120]:
#subir al servidor
if __name__ == '__main__':
  app.run_server()