In [24]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import pandas as pd

In [25]:
app = dash.Dash()

In [26]:

# Carga datos
df_sp500 = pd.read_csv(r'./database/SP500_data_.csv',encoding = 'ISO-8859-1',delimiter=',')

In [27]:
df_sp500.head(3)

         Date       Open       High        Low      Close  Adj Close  Volume
0  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000       0
1  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999       0
2  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999       0

In [28]:
df_sp500.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [29]:
df_sp500.sample(3)

,Date,Open,High,Low,Close,Adj Close,Volume
2136,2002-01-02,1148.079956,1154.670044,1136.229980,1154.670044,1154.670044,1171000000
2508,2015-01-15,2013.750000,2021.349976,1991.469971,1992.670044,1992.670044,4276720000
2356,2009-09-01,1019.520020,1028.449951,996.280029,998.039978,998.039978,6862360000

In [30]:
#Objetos plotly.graph
data_1 = [go.Scatter(
  x = df_sp500['Date'],
  y = df_sp500['Close'],
  mode = 'lines'
)]

data_2 = [go.Bar(
  x = df_sp500['Date'],
  y = df_sp500['Volume']
)]

In [31]:
#crear layout 
layout_1 = go.Layout(
  title = "SP500 Cotización",
  xaxis = {"title":"Fecha"},
  yaxis = {"title":"SP500 Valor"}
)

layout_2 = go.Layout(
  title = "SP500 Volumen negociado",
  xaxis = {"title":"Fecha"},
  yaxis = {"title": "Volumen"}
)

In [32]:
#Definición del layout de la app a partir de componentes HTML y Core
app.layout = html.Div([
  html.Label('Menu Opciones'),
  dcc.Dropdown(
    options = [
      {
      "label": "Apertura",
      "value": "Open"
      },
      {
        "label": "Cierre",
        "value": "Close"
      }
    ],
    value = 'Open'
  ),
  dcc.Graph(
    id = "lineplot",
    figure = {
      "data": data_1,
      "layout": layout_1
    }
  ),
  dcc.Graph(
    id = "barplot",
    figure = {
      "data": data_2,
      "layout": layout_2
    }
  )
])

In [33]:
#Sentencias para abrir el servidor al ejecutar este script
if __name__ == '__main__':
    app.run_server(port=7000)

Dash is running on http://127.0.0.1:7000/

Dash is running on http://127.0.0.1:7000/

Dash is running on http://127.0.0.1:7000/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:7000/ (Press CTRL+C to quit)