In [33]:
#importar librerias
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
import pandas as pd

In [34]:
df = pd.read_excel(r'./database/Info_pais.xlsx')

In [35]:
df.columns = ['pais', 'continente', 'poblacion', 'RPC', 'EV']

In [36]:
df.head(3)

            pais     continente   poblacion    RPC    EV
0  United States  North America   325084756  59939  78.9
1          China           Asia  1421021791   8612  76.7
2          Japan           Asia   127502725  38214  84.5

In [37]:
df.sample(3)

                  pais continente  poblacion   RPC    EV
78          Uzbekistan       Asia   31959785  1554  71.5
162              Tonga    Oceania     101998  4193  70.8
119  Equatorial Guinea     Africa    1262002  9741  58.4

In [38]:
df.size

830

In [39]:
df.tail(3)

                 pais continente  poblacion    RPC    EV
163             Palau    Oceania      17808  16275  73.7
164  Marshall Islands    Oceania      58058   3517  73.9
165          Kiribati    Oceania     114158   1626  68.1

In [40]:
df.dtypes

pais           object
continente     object
poblacion       int64
RPC             int64
EV            float64
dtype: object

In [41]:
#crear objeto dash
app = dash.Dash()

In [42]:
#lista con las columnas del dtaframe que estaran en los dropdowns
option = df.columns

In [43]:
app.layout = html.Div([
  html.Div([
    dcc.Dropdown(
      id = "eje_x",
      options = [{
        'label':i,
        'value':i
        } for i in option],
      value = 'RPC'
      )
    ],
      style = {
        'width': '48%',
        'display': 'inline-block'
      }
  ),
  html.Div([
    dcc.Dropdown(
      id = "eje_y",
      options = [{
        'label':i,
        'value':i
      } for i in option],
      value = 'EV'
    )
  ],
      style = {
        'width': '48%',
        'float': 'right',
        'display': 'inline-block'
      }
  ),
  dcc.Graph(
    id = 'graph_op'
  )
],
  style = {
    'padding': 10,
    'background': '#262626'
  }
)

In [44]:

@app.callback(
  Output('graph_op', 'figure'),
  [
    Input('eje_x', 'value'),
    Input('eje_y', 'value')
  ]
)
def multiple_option(x, y):
  return {
    'data':[
      go.Scatter(
        x = df[x],
        y = df[y],
        text = df['pais'],
        mode = 'markers',
        marker = {
          'size':15,
          'opacity':0.5,
          'line':{
            'width':1,
            'color': 'cyan'
          }
        }
      )
    ],
    'layout': go.Layout(
      xaxis = {'title': x},
      yaxis = {'title': y},
      margin = {'l': 40, 'b': 40, 't': 10, 'r': 0},
      hovermode = 'closest'
    )
  }

In [45]:
#Sentencias para abrir el servidor al ejecutar este script
if __name__ == "__main__":
  app.run_server(port = 7998)

Dash is running on http://127.0.0.1:7998/

Dash is running on http://127.0.0.1:7998/

Dash is running on http://127.0.0.1:7998/

Dash is running on http://127.0.0.1:7998/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:7998/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET /_dash-component-suites/dash_renderer/react@16.v1_1_2m1576595738.8.6.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_1_2m1576595738.7.2.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_1_2m1576595738.8.6.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_0_1m1576596177.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:03] "GET /_dash-component-suites/dash_core_components/highlight.v1_3_1m1576595950.pack.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_1_2m1576595738.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_3_1m1576595950.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_dash-component-suites/dash_core_components/plotly-1.v1_3_1m1576595950.50.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:04] "GET /_favicon.ico?v=1.19.0 HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:27:44] "POST /_dash-update-component HTTP/1.1" 200 -