In [15]:
#importar librerias
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
import pandas as pd

In [16]:
df = pd.read_excel(r'./database/Info_pais.xlsx')

In [17]:
df.columns = ['pais', 'continente', 'poblacion', 'RPC', 'EV']

In [18]:
df.head(3)

            pais     continente   poblacion    RPC    EV
0  United States  North America   325084756  59939  78.9
1          China           Asia  1421021791   8612  76.7
2          Japan           Asia   127502725  38214  84.5

In [19]:
df.sample(3)

           pais continente  poblacion   RPC    EV
109        Mali     Africa   18512430   828  58.9
78   Uzbekistan       Asia   31959785  1554  71.5
70        Ghana     Africa   29121465  2026  63.8

In [20]:
df.size

830

In [21]:
df.tail(3)

                 pais continente  poblacion    RPC    EV
163             Palau    Oceania      17808  16275  73.7
164  Marshall Islands    Oceania      58058   3517  73.9
165          Kiribati    Oceania     114158   1626  68.1

In [22]:
df.dtypes

pais           object
continente     object
poblacion       int64
RPC             int64
EV            float64
dtype: object

In [23]:
#crear objeto dash
app = dash.Dash()

In [24]:
#lista con las columnas del dtaframe que estaran en los dropdowns
option = df.columns

In [25]:
app.layout = html.Div([
  html.Div([
    dcc.Dropdown(
      id = "eje_x",
      options = [{
        'label':i,
        'value':i
        } for i in option],
      value = 'RPC'
      )
    ],
      style = {
        'width': '48%',
        'display': 'inline-block'
      }
  ),
  html.Div([
    dcc.Dropdown(
      id = "eje_y",
      options = [{
        'label':i,
        'value':i
      } for i in option],
      value = 'EV'
    )
  ],
      style = {
        'width': '48%',
        'float': 'right',
        'display': 'inline-block'
      }
  ),
  dcc.Graph(
    id = 'graph_op'
  ),
  dcc.Graph(
    id = 'graph_op_1'
  )
],
  style = {
    'padding': 10
  }
)

In [26]:

@app.callback(
  Output('graph_op', 'figure'),
  [
    Input('eje_x', 'value'),
    Input('eje_y', 'value')
  ]
)
def multiple_option(x, y):
  return {
    'data':[
      go.Scatter(
        x = df[x],
        y = df[y],
        text = df['pais'],
        mode = 'markers',
        marker = {
          'size':15,
          'opacity':0.5,
          'line':{
            'width':1,
            'color': 'cyan'
          }
        }
      )
    ],
    'layout': go.Layout(
      xaxis = {'title': x},
      yaxis = {'title': y},
      margin = {'l': 40, 'b': 40, 't': 10, 'r': 0},
      hovermode = 'closest'
    )
  }

In [27]:

@app.callback(
  Output('graph_op_1', 'figure'),
  [
    Input('eje_y', 'value')
  ]
)
def multiple_option_1(y):
  return{
    'data':[
      go.Scatter(
        x = df['pais'],
        y = df[y],
        text = df['pais'],
        mode = 'markers',
        marker = {
          'size':15,
          'opacity':0.5,
          'line':{
            'width':1,
            'color': 'black'
          }
        }
      )
    ],
    'layout': go.Layout(
      xaxis = {'title': 'Pais'},
      yaxis = {'title': y},
      margin = {'l': 40, 'b': 40, 't': 10, 'r': 0},
      hovermode = 'closest'
    )
  }

In [28]:
#Sentencias para abrir el servidor al ejecutar este script
if __name__ == "__main__":
  app.run_server(port = 7997)

Dash is running on http://127.0.0.1:7997/

Dash is running on http://127.0.0.1:7997/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:7997/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Oct/2022 19:52:58] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:52:58] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:52:58] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:52:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:52:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:32] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:48] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2022 19:53:56] "POST /_dash-update-component HTTP/1.1" 200 -